Repository pachovit/echopages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, deploy

test:
  image: python:3.9-slim
  stage: test
  before_script:
  - 'apt-get update && apt-get install -y curl && \
  
    curl -sSL https://install.python-poetry.org | python3 - && \
  
    ln -s /root/.local/bin/poetry /usr/local/bin/poetry
  
    '
  - poetry config virtualenvs.create false && poetry install
  script:
  ...

build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin
  script:
  - docker build -t pachovit/echopages:latest .
  ...

deploy:
  stage: deploy
  image: docker:latest
  services:
  - docker:dind
  environment:
    name: production
  before_script:
  - command -v ssh-agent >/dev/null || ( apk add --no-cache openssh-client )
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  ...

Correct poetry
  .github/workflows/ci.yml
Due: none

Force trigger
  .github/workflows/ci.yml
Due: none

Fixed docker hub user
  .github/workflows/ci.yml
Due: none

Removed dependency
  .github/workflows/ci.yml
Due: none

Hardcoded docker hub name
  .github/workflows/ci.yml
Due: none

Bugfixed
  .github/workflows/ci.yml
  docker-compose.yml
Due: deploy

Fixed CI fully
  .github/workflows/ci.yml
  production.env
Due: deploy

Remove GitlabCI
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: none

Initial commit
  .coveragerc
  .gitignore
  Makefile
  README.md
  echopages/__init__.py
  echopages/application/services.py
  echopages/domain/model.py
  echopages/domain/repositories.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/schedulers.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_arch.py
  tests/test_schedulers.py
  tests/test_services.py
Due: test, build, deploy

Cleaned up SQL mess
  echopages/bootstrap.py
  echopages/config.py
  echopages/infrastructure/sql.py
  echopages/main.py
  tests/conftest.py
Due: test, build, deploy

Fixed sampling bug
  README.md
  echopages/application/services.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/sql_repositories.py
  echopages/infrastructure/web.py
  tests/integration/test_sql_repository.py
  tests/unit/test_services.py
Due: test, build, deploy

Fixed bug of unit tests using the disk delivery system
  tests/conftest.py
  tests/integration/test_file_services.py
Due: test, build, deploy

Mypy in the tests
  Makefile
Due: none

Started readme
  README.md
Due: none

Fix almost all mypy issues
  echopages/infrastructure/sql.py
Due: test, build, deploy

Renamed content units to content
  README.md
  echopages/application/services.py
  echopages/bootstrap.py
  echopages/domain/model.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/orm.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/web.py
  echopages/main.py
  tests/integration/test_sql_repository.py
  tests/integration/test_web.py
  tests/unit/test_samplers.py
  tests/unit/test_services.py
Due: test, build, deploy

Move fakes to the source code
  echopages/infrastructure/fakes.py
  tests/unit/test_services.py
Due: test, build, deploy

Add content endpoint
  Makefile
  echopages/application/services.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/web.py
  poetry.lock
  pyproject.toml
  tests/integration/test_web.py
Due: test, build, deploy

Cleaned the sql code
  echopages/bootstrap.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/web.py
  tests/conftest.py
  tests/integration/test_sql_repository.py
Due: test, build, deploy

Added unit of work and solved session problems
  echopages/application/services.py
  echopages/bootstrap.py
  echopages/config.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/schedulers.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/web.py
  echopages/main.py
  tests/integration/test_sql_repository.py
  tests/integration/test_web.py
  tests/unit/test_services.py
Due: test, build, deploy

Added a main
  Makefile
Due: none

Added logs
  echopages/infrastructure/fakes.py
  echopages/main.py
Due: test, build, deploy

Applied strict mypy
  Makefile
  echopages/bootstrap.py
  echopages/domain/model.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/orm.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/schedulers.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/web.py
  tests/conftest.py
  tests/integration/test_sql_repository.py
  tests/integration/test_web.py
  tests/test_arch.py
  tests/unit/test_samplers.py
  tests/unit/test_schedulers.py
  tests/unit/test_services.py
Due: test, build, deploy

SImplified scheduling and added whole flow test
  README.md
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/schedulers.py
  poetry.lock
  pyproject.toml
  tests/test_samplers.py
  tests/test_schedulers.py
  tests/test_services.py
Due: test, build, deploy

Fix all mypy issues
  echopages/infrastructure/sql.py
Due: test, build, deploy

Added HTML formatter
  README.md
  echopages/api/endpoints.py
  echopages/infrastructure/delivery/delivery_system.py
  echopages/infrastructure/templates/digest_template.html
  echopages/main.py
  poetry.lock
  pyproject.toml
Due: test, build, deploy

Finished bootstraping
  echopages/api/endpoints.py
  echopages/bootstrap.py
  echopages/main.py
  tests/conftest.py
  tests/fakes.py
  tests/integration/test_file_services.py
  tests/unit/test_services.py
Due: test, build, deploy

Added digest formatter
  echopages/api/endpoints.py
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/database/orm.py
  echopages/infrastructure/database/sql.py
  echopages/infrastructure/fakes.py
  tests/integration/test_web.py
  tests/unit/test_samplers.py
  tests/unit/test_services.py
Due: test, build, deploy

Applied mypy
  echopages/application/services.py
  echopages/domain/model.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/schedulers.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/web.py
  poetry.lock
  pyproject.toml
Due: test, build, deploy

Added next steps
  README.md
Due: none

Started using a real sqlite
  .gitignore
  README.md
  echopages/application/services.py
  echopages/domain/model.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/orm.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/web.py
  poetry.lock
  pyproject.toml
  tests/integration/test_sql_repository.py
  tests/integration/test_web.py
  tests/unit/test_services.py
Due: test, build, deploy

Separated repository creation to a bootstrap module
  echopages/bootstrap.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/web.py
  echopages/main.py
Due: test, build, deploy

Added a configure schedule service, putting schedule in the domain layer
  README.md
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/schedulers.py
  tests/test_schedulers.py
  tests/test_services.py
Due: test, build, deploy

Removed SQL completely
  echopages/api/endpoints.py
  echopages/application/services.py
  echopages/bootstrap.py
  echopages/config.py
  echopages/domain/model.py
  echopages/domain/repositories.py
  echopages/infrastructure/database/file_db.py
  echopages/infrastructure/database/orm.py
  echopages/infrastructure/database/sql.py
  echopages/infrastructure/delivery/delivery_system.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/templates/digest_template.html
  echopages/main.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/integration/test_file_services.py
  tests/integration/test_sql_repository.py
  tests/unit/test_services.py
Due: test, build, deploy

Restructured project a bit
  echopages/api/endpoints.py
  echopages/infrastructure/database/orm.py
  echopages/infrastructure/database/sql.py
  echopages/infrastructure/delivery/samplers.py
  echopages/infrastructure/delivery/schedulers.py
  echopages/main.py
  tests/integration/test_sql_repository.py
  tests/integration/test_web.py
  tests/unit/test_samplers.py
  tests/unit/test_schedulers.py
  tests/unit/test_services.py
Due: test, build, deploy

Renamed data in contentUnit to text
  echopages/application/services.py
  echopages/domain/model.py
  tests/unit/test_samplers.py
  tests/unit/test_schedulers.py
  tests/unit/test_services.py
Due: test, build, deploy

Scheduler model as true interface
  echopages/domain/model.py
  echopages/infrastructure/schedulers.py
  tests/test_schedulers.py
  tests/test_services.py
Due: test, build, deploy

URI as env variable
  echopages/config.py
  tests/conftest.py
Due: test, build, deploy

Applied Mypy
  echopages/application/services.py
  echopages/infrastructure/database/sql.py
  echopages/infrastructure/fakes.py
  echopages/main.py
  tests/integration/test_web.py
Due: test, build, deploy

Flexible delivery system
  .gitignore
  echopages/api/endpoints.py
  echopages/bootstrap.py
  echopages/config.py
  echopages/infrastructure/database/sql.py
  echopages/main.py
  tests/conftest.py
Due: test, build, deploy

Path conditions:
  test: any of: **/*.py, pyproject.toml, tests/**, features/**
  build: any of: **/*.py, pyproject.toml, tests/**, features/**, Dockerfile
  deploy: any of: **/*.py, pyproject.toml, tests/**, features/**, Dockerfile, docker-compose.yml, production.env
