Repository pachovit/echopages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, build, deploy

.gitlab-ci.yml:

stages:
  - test
  - build
  - deploy

test:
  image: python:3.9-slim
  stage: test
  before_script:
    - |
      apt-get update && apt-get install -y curl && \
      curl -sSL https://install.python-poetry.org | python3 - && \
      ln -s /root/.local/bin/poetry /usr/local/bin/poetry
    - poetry config virtualenvs.create false && poetry install
  script:
    - PYTHONPATH=. pytest --cov=echopages -s tests
  rules:
    - changes:
        - "**/*.py"
        - "pyproject.toml"
        - "tests/**"
        - "features/**"

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - docker build -t pachovit/echopages:latest .
    - docker push pachovit/echopages:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - "**/*.py"
        - "pyproject.toml"
        - "tests/**"
        - "features/**"
        - "Dockerfile"

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  environment:
    name: production
  before_script:
    - "command -v ssh-agent >/dev/null || ( apk add --no-cache openssh-client )"
    - eval $(ssh-agent -s)
    - chmod 400 "$SSH_PRIVATE_KEY"
    - ssh-add "$SSH_PRIVATE_KEY"
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H $DEPLOY_SERVER >> ~/.ssh/known_hosts
  script:
    - scp -o StrictHostKeyChecking=no docker-compose.yml $DEPLOY_USER@$DEPLOY_SERVER:/echopages/docker-compose.yml
    - scp -o StrictHostKeyChecking=no production.env $DEPLOY_USER@$DEPLOY_SERVER:/echopages/production.env
    - ssh -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_SERVER "
      echo 'POSTMARK_SERVER_API_TOKEN=${POSTMARK_SERVER_API_TOKEN}' >> /echopages/production.env;
      echo 'RECIPIENT_EMAIL=${RECIPIENT_EMAIL}' >> /echopages/production.env;
      docker pull pachovit/echopages:latest;
      docker compose -f /echopages/docker-compose.yml --env-file /echopages/production.env up -d;
      "
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - "**/*.py"
        - "pyproject.toml"
        - "tests/**"
        - "features/**"
        - "Dockerfile"
        - "docker-compose.yml"
        - "production.env"

Put back UoW and almost all tests pass
  README.md
  echopages/api/endpoints.py
  echopages/application/services.py
  echopages/domain/repositories.py
  echopages/infrastructure/database/sql.py
  echopages/infrastructure/fakes.py
  tests/conftest.py
  tests/integration/test_sql_repository.py
  tests/integration/test_sql_services.py
  tests/integration/test_web.py
  tests/unit/test_services.py
Due: test, build, deploy

Removed uow
  echopages/application/services.py
  echopages/domain/repositories.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/sql.py
  echopages/infrastructure/sql_repositories.py
  echopages/infrastructure/web.py
  echopages/main.py
  tests/conftest.py
  tests/integration/test_sql_repository.py
  tests/unit/test_services.py
Due: test, build, deploy

Extracted repo to bootstrap
  echopages/bootstrap.py
  echopages/infrastructure/fakes.py
  echopages/infrastructure/samplers.py
  echopages/infrastructure/web.py
Due: test, build, deploy

Try build
  .gitlab-ci.yml
Due: none

First part of GitlabCI
  .gitlab-ci.yml
Due: none

Added log when sending email
  echopages/infrastructure/delivery/delivery_system.py
  production.env
Due: test, build, deploy

Corrected CI
  .gitlab-ci.yml
Due: none

Added metadata to content
  echopages/api/endpoints.py
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/templates/digest_template.html
  features/add_content.feature
  tests/fakes.py
  tests/functional/test_add_content.py
  tests/integration/test_file_services.py
  tests/integration/test_web.py
  tests/unit/test_services.py
Due: test, build, deploy

Emojis in Readme
  README.md
Due: none

Support for markdown as input
  echopages/infrastructure/delivery/delivery_system.py
  echopages/infrastructure/templates/digest_template.html
  poetry.lock
  pyproject.toml
Due: test, build, deploy

Use pydantic in the config
  echopages/api/endpoints.py
  echopages/bootstrap.py
  echopages/config.py
  echopages/main.py
  poetry.lock
  production.env
  pyproject.toml
  tests/conftest.py
Due: test, build, deploy

Correct deployment
  .gitlab-ci.yml
Due: none

Added postmark and real (and tested) execution of email
  Makefile
  echopages/bootstrap.py
  echopages/config.py
  echopages/infrastructure/delivery/delivery_system.py
Due: test, build, deploy

Add logo
  .resources/EchoPages.png
  README.md
Due: none

Correct ci file
  .gitlab-ci.yml
Due: none

Small tweaks to documentation
  CONTRIBUTING.md
  README.md
Due: none

Do not expose port
  docker-compose.yml
Due: deploy

Restrict pipelines
  .gitlab-ci.yml
Due: none

CI/CD (#1)
  .github/workflows/ci.yml
  .gitlab-ci.yml
  docker-compose.yml
  production.env
Due: deploy

Added first test with BDD
  features/add_content.feature
  features/environment.py
  features/steps/add_content.py
  poetry.lock
  pyproject.toml
  test.env
  tests/integration/test_web.py
Due: test, build, deploy

Improved readme, added contributing guide, and license
  CONTRIBUTING.md
  LICENSE
  README.md
  docker-compose.yml
  example.env
  production.env
  pyproject.toml
  tests/test_arch.py
  utils/markdown_processing.py
Due: test, build, deploy

Again
  .gitlab-ci.yml
Due: none

Added slogan
  README.md
Due: none

Specified "sent_at" instead of "sent" for digests
  docker-compose.yml
  echopages/domain/model.py
  echopages/infrastructure/database/file_db.py
  tests/integration/test_file_services.py
  tests/unit/test_services.py
Due: test, build, deploy

Test whole thing
  .gitlab-ci.yml
  production.env
Due: deploy

Added more scenarios to add content
  echopages/api/endpoints.py
  echopages/application/services.py
  features/add_content.feature
  tests/functional/test_add_content.py
Due: test, build, deploy

Improved digest formatting
  echopages/infrastructure/delivery/delivery_system.py
  echopages/infrastructure/templates/digest_template.html
  poetry.lock
  pyproject.toml
Due: test, build, deploy

Metadata in the digest title
  echopages/api/endpoints.py
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/database/file_db.py
  echopages/infrastructure/delivery/delivery_system.py
  production.env
  tests/fakes.py
  tests/integration/test_file_services.py
  tests/integration/test_web.py
  tests/unit/test_services.py
Due: test, build, deploy

Added Dockerfiles
  .envrc
  Dockerfile
  docker-compose.yml
  echopages/config.py
  echopages/main.py
Due: test, build, deploy

Test Github actions
  .github/workflows/ci.yml
  .gitlab-ci.yml
  README.md
  production.env
Due: deploy

Update logo
  .resources/EchoPages.png
  .resources/logo_slogan.png
  README.md
Due: none

Sample based on last digest
  Makefile
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/delivery/samplers.py
  production.env
  tests/integration/test_file_services.py
  tests/unit/test_samplers.py
  tests/unit/test_services.py
Due: test, build, deploy

Fixed last digest getting logic
  echopages/infrastructure/delivery/samplers.py
  production.env
Due: test, build, deploy

Simplified pytestbdd usage
  Makefile
  features/add_content.feature
  pytest.ini
  tests/conftest.py
  tests/functional/test_add_content.py
Due: test, build, deploy

Fixed bug of DB backward compatibility
  echopages/infrastructure/database/file_db.py
  production.env
Due: test, build, deploy

Added badges
  README.md
Due: none

Correct deployment again
  .gitlab-ci.yml
Due: none

Testing the deployment
  .gitlab-ci.yml
  docker-compose.yml
  echopages/config.py
  production.env
Due: test, build, deploy

Remove content str from digests db
  echopages/application/services.py
  echopages/domain/model.py
  echopages/infrastructure/database/file_db.py
  tests/integration/test_file_services.py
  tests/unit/test_services.py
Due: test, build, deploy

Change to pytest bdd
  features/environment.py
  features/steps/add_content.py
  poetry.lock
  pyproject.toml
  test.env
  tests/conftest.py
  tests/functional/test_add_content.py
Due: test, build, deploy
